@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

$font: 'Open Sans', sans-serif;

@mixin transition($property) {
    -webkit-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
     transition: $property;
  }


%flex{
    display: flex;
    flex-direction: row;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: $font;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body{
    max-width: 100vw;

}

.subtitle{
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;

}

.text{
    color: #676A74;
    margin-left: 5px;
}


.header{
    
    @extend %flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #eee;

    .burger{
        display: none;
    }

    .header__menu{

        @extend %flex;
        width: 30vw;
        min-width: 300px;
        justify-content: space-around;
    }

    .header__bar{

        @extend %flex;
        width: 17vw;
        -ms-flex-pack: distribute;
        justify-content: right;
        border-left: 1px solid #eee;
        margin-right: 40px;

        .header__bar_inner{
            margin-top: 10px;
            position: absolute;
            right: 200px;
            top: 10px;
        }

        .favorites{
            
            transition: .1s;
            position: absolute;
            width: 40px;
            z-index: 1;
        }

        .favorites:hover{
            cursor: pointer;
            animation: heartbeat 1s infinite;

        }

        .favorites:active{
            transform: translateY(1px)
        }

        .favs-active{
            background-color: rgba(254, 110, 254, 0.408);

        }

        .search-btn{
            cursor: pointer;
            width: 65px;
            transition: 0.1s;
        }
        .search-btn:active{
         transform: translateY(1px);
        }
        .search-btn_active{
        background-color: plum;        
    }
    }

}

fieldset{
    border: none;
}
.main{

    @extend %flex;

    .card_little{
        @extend %flex;

        .count{
            
            position: absolute;
            background-color: rgba(153, 102, 226, 0.871);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            margin-top: 45px;
            color: white;
        }

        .card__img_little{
            width: 50px;
        }

        .price-wrapper{
            @extend %flex;

        }

        .card__price_little{
            color: purple;
            
        }

        .remove-from-card{
            font-weight: 900;
            color: purple;
            cursor: pointer;
            margin-left: auto;
            margin-right: 15px;
            height: 20px;
            width: 20px;
        }

    }
    .card-appear{
        animation-duration: 0.5s;
        animation-name: card;
        animation-fill-mode: forwards;
    
    }
    @keyframes card{
        from{
            margin-left: -300px;
        }
        to{
            margin-left: 0px;
        }
    }

    .sidebar{

        @extend %flex;
        flex-direction: column;
        width: 20vw;
        min-width: 190px;
        height: 85vh;
        border-right:1px solid #eee;
        margin-left: 3vw;
        gap: 3vh;

        .sidebar__cart_title{
            @extend %flex;

            p{
                align-self: flex-end;
            }

            .in-cart{

                display: flex;
                align-items: center;
                justify-content: center;

                .cart-icon{
                
                    width: 35px;
                    height: 35px;
                }
    
                .cards-quantity{
                    color: purple;
                    font-weight: 900;
                    position: absolute;
                    margin-top: 5px;
                }

            }

            .remove-all{
                color: purple;
                border: 2px solid purple;
                font-size: smaller;
                padding: 2px;
                display: none;
                cursor: pointer;
                margin-left: auto;
                margin-right: 0px;
                
            }

            .remove-all:hover{
                background-color: purple;
                color: white;
            }
        }

        .total{
            margin-left: 20%;
            border-top: 1px solid gray;
            // display: none;
            @extend %flex;

            .total__sum{
                margin-left: 10px;
                color: purple;
                font-weight: 900;
            }
        }

        .fav-title{
            
            text-transform: uppercase;
            font-weight: 900;
            color: plum;
            font-size: 2em;
            z-index: 0;
            visibility: hidden;

        }

        .sidebar__filters{

            display:flex;
            flex-direction: column;
            gap: 3vh;
            background-color: white;
            z-index: 1;
            position: absolute;

            .filters__colors_block{
                
                margin: 7px;
                cursor: pointer;
                @extend %flex;
                align-items: center;
                // width: 50%;
        
                .color_circle{
                    margin-right: 5px;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                }
        
                .color_circle_red{
                    background-color: red;
                    border: 1px solid red;
                }
        
                .color_circle_black{
                    background-color: black;
                    border: 1px solid black;
                }
        
                .color_circle_yellow{
                    background-color: yellow;
                    border: 1px solid yellow;
                }
        
                .color_circle_green{
                    background-color: green;
                    border: 1px solid green;
                }
        
                .color_circle_blue{
                    background-color: blue;
                    border: 1px solid blue;
                }
        
                .color_circle_white{
                    background-color: white;
                    border: 1px solid #676A74;
                }

                
            }
            .color_active{
                background-color: plum;
                width: opx;
                animation-duration: .7s;
                animation-name: color-active;
                animation-fill-mode: forwards;
            
            }
            @keyframes color-active {
                from{
                    width: 0px;
                    opacity: 0;
                }
                to{
                    width:80%;
                    opacity: 1;
                }
            }
            }

            .color_remove{
                color:purple;
               display: none;
               margin-left: auto;
               margin-right: 10px;
                  }

            .display-none{
                display: none;
            }

            .display-flex{
                display: flex;
            }

        }

        
    }

    .products{

        background-color:#eee;

        .products__favorites{
            background-color: #eee;
            width: 80vw;
            height: 100%;
            position: absolute;
            z-index: 5;
            @extend %flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
            

            .card__info{

                @extend %flex;
                justify-content: space-evenly;
                background-color: white;
                height: 15%;

                
    
                .card__price{
    
                    @extend %flex;
                    color: rgb(242, 49, 242);
                    font-weight: 1000;
                    font-size: 1.2em;
                    align-items: center;
                }
            }
        }

        .products__sort{

            @extend %flex;
            justify-content: center;
            margin-right: 5%;
        }

        .search-bar{
            width: 0px;
            height: 40px;
            opacity: 0;
            font-family: $font;
            padding-left: 20px;
            font-size: 1em;
            position: absolute;
            right: 0;
        }

        
        .search-bar:focus{
            outline: none !important;
            border: 2px solid purple;
        }

        .display-flex{
            display: flex;
        }

        .products__wrapper{
            @extend %flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 80vw;
            min-height: 85vh;
            

            .card{
                margin: 2%;
                flex-direction: column;
                height: 620px;

                .card__hover_wrapper{
                    
                    display: flex;
                    
                    .card__hover{
                        
                        position: absolute;
                        background-color: plum;
                        z-index: 1;
                        opacity: 0;
                        cursor: pointer;
                        @include transition(all 200ms ease-out);
                        display: flex;
                        justify-content: center;
                        align-items: center;    


                        .add_to_cart {
                            
                            width: 152px;
                            font-size: 16px;
                            border: 2px solid #fff;
                            color: #fff;
                            text-align: center;
                            padding: 10px 0;
                            opacity: 1;
                            @include transition(all 200ms ease-out);

                            .buttons{
                                width: 40px;
                                height: 40px;
                                background-color: purple;
                                color:white;
                                display: none;
                                align-items: center;
                                justify-content: center;
                            }

                            .display-flex{
                                display: flex;
                            }
                        }

                        .add_to_cart:hover{
                            background-color: #fff;
                            color: plum;
                            cursor: pointer;
                        }

                        .in_cart{
                            background-color: #fff;
                            color: plum;
                        }
                    }

                    .opacity-appear{
                        opacity: 0.8;
                    }
                    

                    .card__hover:hover{
                        opacity: 0.7;
                    }

                    .card__hover_active{
                        opacity: 0.7;
                    }

                }

                .card__favs{
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    z-index: 2;
                }

                .card__favs:hover{
                    animation: heartbeat 1s infinite;
                }

                @keyframes heartbeat {
                    0% {
                      transform: scale( 1 );
                    }
                    20% {
                      transform: scale( 1.1 )
                       
                    }
                    40% {
                      transform: scale( 1.2 )
                    //     
                    }
                   }

                .card__favs_active{
                    background-image: url(../assets/icons/favs2.png);

                }
                

                .card__info{

                    @extend %flex;
                    justify-content: space-evenly;
                    background-color: white;
                    height: 25%;

                    .card__info_wrapper{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        gap: 5%;
                    }
        
                    .card__price{
        
                        @extend %flex;
                        color: rgb(242, 49, 242);
                        font-weight: 1000;
                        font-size: 1.2em;
                        align-items: center;
                    }
                }
            }

            
        }
        
    }


#slider{

    margin-top: 40px;
    margin-right: 20px;
    width: 100%;
}

.reset-slider{

    cursor: pointer;
    width: 50%;
    height: 25px;
    margin-left: 20%;
    margin-top: 30px;
    border: 2px solid purple;
    color: purple;
    text-align: center;
    padding-top: 5px;
}

.reset-slider:hover{
    background-color: purple;
    color: white;
}

.reset-slider:active{

    transform: translateY(2px);
}

.card__hover_wrapper{
                    
    display: flex;
    width: 333px;
    height: 466px;

    // .card__img{
    //     position: relative;
    // }

    .card__hover{
        width: 333px;
        height: 466px;
        position: absolute;
        background-color: plum;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        @include transition(all 200ms ease-out);


        .add_to_cart {
            
            width: 152px;
            height: 35px;
            font-size: 16px;
            border: 2px solid #fff;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            opacity: 1;
            @include transition(all 200ms ease-out);
        }

        .add_to_cart:hover{
            background-color: #fff;
            color: plum;
            cursor: pointer;
        }

        .in_cart{
            background-color: #fff;
            color: plum;
        }
    }

    .opacity-appear{
        opacity: 0.8;
    }
    

    .card__hover:hover{
        opacity: 0.7;
    }

    .card__hover_active{
        opacity: 0.7;
    }

}
.card__favs{
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
}

.card__favs_active{
    background-image: url(../assets/icons/favs2.png);

}

.no-favs,
.no-results{
    margin-bottom: 40vh;
    font-size: 0px;
    position: absolute;
    bottom: 0;
    
}
.appear{
    animation-duration: .4s;
    animation-name: no-appear;
    animation-fill-mode: forwards;
}
@keyframes no-appear {
    from{
        bottom:0;
        font-size: 0px;
    }
    to{
        bottom: 100px;
        font-size: 1.6em;
    }
}

.hide{
    animation-duration: .5s;
    animation-name: favs;
    animation-fill-mode: forwards;
}
@keyframes favs {
   
    from{
        bottom: 100px;
        font-size: 1.6em;
    }
    to{
        bottom:300px;
        font-size: 0px;
    }
}
.display-flex{
    display: flex;
}

.search-appear{
    animation-duration: .7s;
    animation-name: search-appear;
    animation-fill-mode: forwards;

}
@keyframes search-appear {
    from{
        width: 0px;
        opacity: 0;
    }
    to{
        width:200px;
        opacity: 1;
    }
}
.search-disappear{
    animation-duration: .7s;
    animation-name: search-disappear;
    animation-fill-mode: forwards;

}
@keyframes search-disappear {
    from{
        width: 20vw;
        opacity: 1;
    }
    to{
        width:1;
        opacity: 20vw;
    }
}

.red{
    margin-right: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
    border: 1px solid red;
    color: rgba(0, 0, 0, 0)
}

.yellow{
    margin-right: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: yellow;
    border: 1px solid yellow;
    color: rgba(0, 0, 0, 0)
}
.blue{
    margin-right: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: blue;
    border: 1px solid blue;
    color: rgba(0, 0, 0, 0)
}
.green{
    margin-right: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: green;
    border: 1px solid green;
    color: rgba(0, 0, 0, 0)
}
.black{
    margin-right: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: black;
    border: 1px solid black;
    color: rgba(0, 0, 0, 0)
}
.white{
    margin-right: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid grey;
    color: rgba(0, 0, 0, 0)
}
.display-none,
.left-none,
.right-none{
    display: none;
}

.XS,
.S,
.M,
.L,
.XL{
    display: flex;
}

.fav-counter{
    position: absolute;
    width: 40px;
    text-align: center;
    margin-top: 7px;
    font-family: $font;
    cursor: pointer;
    z-index: 0;
    font-weight: 900;
}

.searchBtn-disappear{
    animation-duration: .7s;
    animation-name: searchBtn-disappear;
    animation-fill-mode: forwards;

}
@keyframes searchBtn-disappear {
    from{
        margin-right: 0px;
        opacity: 1;
    }
    to{
        margin-right:-80px;
        opacity: 0;
    }
}
.searchBtn-appear{
    animation-duration: .7s;
    animation-name: searchBtn-appear;
    animation-fill-mode: forwards;

}
@keyframes searchBtn-appear {
    from{
        margin-right:-80px;
        opacity: 0;
    }
    to{
        margin-right: 0px;
        opacity: 1;
    }
}

#home{
    cursor: pointer;
}

@media (max-width: 800px) {

    .products .products__sort {

        justify-content: flex-start;
    }
}

@media (max-width: 600px) {

    .name,
    .category-text{
        
        font-size: 0.8em;
    }

    .header {

        .header__bar {
        
            .header__bar_inner {
                
                right: 250px;
        
                .favorites {
                    width: 30px;
                }
            }

            .search-btn{
                width: 55px;
                margin-right: 105px;
            }
    
        }

        

        .burger{
            display:flex;
            width: 17vw;
            margin: 20px;

        }

        .header__menu {
        display: none;
    }
    }

    .products {
        
        .products__sort{
            justify-content: center;

            .search-bar{
                top: 15px;
                right: -90px;
            }
        }
    
        .products__wrapper .card{
        
            width: 233px;
            height: 520px;

            .card__hover_wrapper{
                width: 233px;
                height: 330px;

                .card__hover{
                    width: 233px;
                    height: 330px;
                }
            }

            
        }
    }
    
}

@media (max-width: 400px) {

    #clear{
        background-color: #eee;
        font-size: 0.5em;
    }

    .header .header__bar {

        .header__bar_inner{

            right: 178px;

        }
    
        .search-btn {

            margin-right: 35px;
        }
    }

    @keyframes search-appear {
        from{
            width: 0px;
            opacity: 0;
        }
        to{
            width:150px;
            opacity: 1;
        }
    }

    .main .sidebar {

        min-width: 140px;
    }

    .products .products__wrapper .card{
       
        width: 180px;
        height: 350px;

        .card__favs{
            width: 40px;
            height: 40px;
        }

        .card__hover_wrapper{
            width: 180px;
            height: 230px;

            .card__hover{
                width: 180px;
                height: 230px;

                .add_to_cart{
                    width: 95px;
                    font-size: 12px;
                    

                }
            }
        }

        .card__info {

            height: unset;

            .card__info_wrapper {
                gap: unset;

            }

            .card__price{
                font-size: 1em;
            }
        
        }

      
    }
    
    
}